<p id="notice"><%= notice %></p>

<%= turbo_frame_tag "room" do %>
<p>
  <strong>Name+:</strong>
  <%= @room.name %>
</p>
<p>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
</p>

<% end %>

<div id="messages">
  <%= render @room.messages %>
</div>

<%= link_to 'New Message', new_room_message_path(@room) %>