<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cow.name %>
</p>

<p>
  <strong>Farmer:</strong>
  <%= @cow.farmer_id %>
</p>

<%= link_to 'Edit', edit_cow_path(@cow) %> |
<%= link_to 'Back', cows_path %>
