<p style="color: green"><%= notice %></p>

<%= render @asked %>

<div>
  <%= link_to "Edit this asked", edit_asked_path(@asked) %> |
  <%= link_to "Back to askeds", askeds_path %>

  <%= button_to "Destroy this asked", @asked, method: :delete %>
</div>
