<p id="notice"><%= notice %></p>

<h1>Films</h1>

<table>
  <thead>
    <tr>
      <th>Imdb title</th>
      <th>Title</th>
      <th>Original title</th>
      <th>Year</th>
      <th>Date published</th>
      <th>Genre</th>
      <th>Duration</th>
      <th>Country</th>
      <th>Language</th>
      <th>Director</th>
      <th>Writer</th>
      <th>Production company</th>
      <th>Actors</th>
      <th>Description</th>
      <th>Avg vote</th>
      <th>Votes</th>
      <th>Budget</th>
      <th>Usa gross income</th>
      <th>Worlwide gross income</th>
      <th>Metascore</th>
      <th>Reviews from users</th>
      <th>Reviews from critics</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.imdb_title_id %></td>
        <td><%= film.title %></td>
        <td><%= film.original_title %></td>
        <td><%= film.year %></td>
        <td><%= film.date_published %></td>
        <td><%= film.genre %></td>
        <td><%= film.duration %></td>
        <td><%= film.country %></td>
        <td><%= film.language %></td>
        <td><%= film.director %></td>
        <td><%= film.writer %></td>
        <td><%= film.production_company %></td>
        <td><%= film.actors %></td>
        <td><%= film.description %></td>
        <td><%= film.avg_vote %></td>
        <td><%= film.votes %></td>
        <td><%= film.budget %></td>
        <td><%= film.usa_gross_income %></td>
        <td><%= film.worlwide_gross_income %></td>
        <td><%= film.metascore %></td>
        <td><%= film.reviews_from_users %></td>
        <td><%= film.reviews_from_critics %></td>
        <td><%= link_to 'Show', film %></td>
        <td><%= link_to 'Edit', edit_film_path(film) %></td>
        <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_film_path %>
