<p id="notice"><%= notice %></p>

<p>
  <strong>Imdb title:</strong>
  <%= @film.imdb_title_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Original title:</strong>
  <%= @film.original_title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @film.year %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @film.date_published %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @film.genre %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @film.duration %>
</p>

<p>
  <strong>Country:</strong>
  <%= @film.country %>
</p>

<p>
  <strong>Language:</strong>
  <%= @film.language %>
</p>

<p>
  <strong>Director:</strong>
  <%= @film.director %>
</p>

<p>
  <strong>Writer:</strong>
  <%= @film.writer %>
</p>

<p>
  <strong>Production company:</strong>
  <%= @film.production_company %>
</p>

<p>
  <strong>Actors:</strong>
  <%= @film.actors %>
</p>

<p>
  <strong>Description:</strong>
  <%= @film.description %>
</p>

<p>
  <strong>Avg vote:</strong>
  <%= @film.avg_vote %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @film.votes %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @film.budget %>
</p>

<p>
  <strong>Usa gross income:</strong>
  <%= @film.usa_gross_income %>
</p>

<p>
  <strong>Worlwide gross income:</strong>
  <%= @film.worlwide_gross_income %>
</p>

<p>
  <strong>Metascore:</strong>
  <%= @film.metascore %>
</p>

<p>
  <strong>Reviews from users:</strong>
  <%= @film.reviews_from_users %>
</p>

<p>
  <strong>Reviews from critics:</strong>
  <%= @film.reviews_from_critics %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
