<%= form_with(model: music) do |form| %>
  <% if music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(music.errors.count, "error") %> prohibited this music from being saved:</h2>
      <ul>
        <% music.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <span class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </span>
  <span class="dropdown actions ">
    <button class="btn btn-sm mb-1 ms-2 btn-outline-secondary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Genre
    </button>
    <ul class="dropdown-menu px-2 px-2" aria-labelledby="dropdownMenuButton1">
      <li class="form-check">
        <%= form.check_box :classical, class: "form-check-input", type: "checkbox", id: "music-classical" %>
        <%= form.label :classical, class: "form-check-label", for: "music-classical" %>
      </li>
      <li class="form-check">
        <%= form.check_box :jazz, class: "form-check-input", type: "checkbox", id: "music-jazz" %>
        <%= form.label :jazz, class: "form-check-label", for: "music-jazz" %>
      </li>
      <li class="form-check">
        <%= form.check_box :rock, class: "form-check-input", type: "checkbox", id: "music-rock" %>
        <%= form.label :rock, class: "form-check-label", for: "music-rock" %>
      </li>
    </ul>
  </span>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
