<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>

  <div class="field">
    <%= form.label :short_summary %>
    <%= form.text_field :short_summary %>
  </div>

  <div class="field">
    <%= form.label :generes %>
    <%= form.text_field :generes %>
  </div>

  <div class="field">
    <%= form.label :imdb_ib %>
    <%= form.text_field :imdb_ib %>
  </div>

  <div class="field">
    <%= form.label :runtime %>
    <%= form.number_field :runtime %>
  </div>

  <div class="field">
    <%= form.label :youtube %>
    <%= form.text_field :youtube %>
  </div>

  <div class="field">
    <%= form.label :poster %>
    <%= form.text_field :poster %>
  </div>

  <div class="field">
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>

  <div class="field">
    <%= form.label :writer %>
    <%= form.text_field :writer %>
  </div>

  <div class="field">
    <%= form.label :cast %>
    <%= form.text_field :cast %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
