<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Summary</th>
      <th>Short summary</th>
      <th>Generes</th>
      <th>Imdb ib</th>
      <th>Runtime</th>
      <th>Youtube</th>
      <th>Poster</th>
      <th>Director</th>
      <th>Writer</th>
      <th>Cast</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.summary %></td>
        <td><%= movie.short_summary %></td>
        <td><%= movie.generes %></td>
        <td><%= movie.imdb_ib %></td>
        <td><%= movie.runtime %></td>
        <td><%= movie.youtube %></td>
        <td><%= movie.poster %></td>
        <td><%= movie.director %></td>
        <td><%= movie.writer %></td>
        <td><%= movie.cast %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
