<%= form_with(model: [@item, @comment], local: false) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from %>
    <%= form.text_field :from, id: :comment_from %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :comment_message %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id, id: :comment_item_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
