<!DOCTYPE html>
<html>

<head>
  <title>Authentication Demo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <p>
  <% if logged_in? %>
    You are Logged In, <%= current_user.name %> (<%= link_to "Logout", '/logout', method: :get%>)
  <% else %>
    <%= link_to "Login", '/login', method: :get%>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <%= link_to "Sign Up", '/users/new', method: :get %>
  <% end %>
</p>  
  <%= yield %>
</body>

</html>