<h1>Messages#new</h1>
<%= turbo_frame_tag "new_message", target: "_top" do %>
  <%= form_with(model: [@message.room, @message],
                data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset"}) do |f| %>
    <div class="field">
      <%= f.text_field :content %>
      <%= f.submit "send new message" %>
    </div>
  <% end %>
<% end %>
<%= link_to "Back", room_path(@message.room) %>
