<!DOCTYPE html>
<html>

<head>
  <title>Questionanswer</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
</head>

<body>
  <div class="container">
    <div class="row">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
      <div class="col-md-6">
        <a href="/" class="fs-4 text-decoration-none">Stack Underflow!</a>
      </div>      
      <div class="col-md-3">
        box-1
      </div>
      <div class="col-md-3">
        box-2
      </div>
      </header>
    </div>
    <div class="row">
      <div class="col">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>